[Unit]
Description=Thrustmaster FGT Wheel Remapper
After=graphical-session.target

[Service]
ExecStart=/usr/bin/python3 /home/tomat/Documents/Dev/steering-wheel-driver/src/fgt_remapper.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
